:root{
 --Purple100: hsl(254, 88%, 90%);
 --Purple500: hsl(256, 67%, 59%);
 --Yellow100: hsl(31, 66%, 93%);
 --Yellow500: hsl(39, 100%, 71%);
 --White: hsl(0, 0%, 100%);
 --Black: hsl(0, 0%, 7%);
}
.outfit {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  body{
    font-family: "Outfit", serif;
    background-color: aliceblue;
  }
  
   .maindiv{
    display: flex;
    flex-wrap: wrap;
  } 
@media screen and (min-width:200px) {
    .maindiv{
      gap: 20px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      position: relative;
      margin: 15px;
    }
  .firstcontainer{
    width: 380px;
    height: 440px;
    border-radius: 15px;
    background-color: var(--Yellow500);
  }
  .writeups1{
    font-size: 40px;
    padding-inline: 15px;
    line-height: 0.9;
    font-weight: 500;
    word-spacing: -5px;
  }
  #image1{
    float: left;
    margin-left: 30px;
    width: 270px;
    
  }
  .secondcontainer{
    width: 380px;
    height: 250px;
    border-radius: 15px;
    background-color: var(--White);
  }
  .writeups2{
    font-size: 18px;
    padding-left: 20px;
  }
  #image2{
    margin-top: 10px;
    margin-left: 45px;
    width: 210px;
  }
  .enlarge56{
    font-size: 70px;
  }
  .thirdcontainer{
    width: 380px;
    height: 320px;
    border-radius: 15px;
    background-color: var(--Yellow500);
  }
  .writeups3{
    font-size: 40px;
    padding-inline: 15px;
    line-height: 0.9;
    font-weight: 450;
    word-spacing: -5px;
  }
  #image3{
    width: 250px;
    margin-left: 30px;
    margin-top: -10px;

  }
  .fourthcontainer{
    width: 380px;
    height: 310px;
    border-radius: 15px;
    background-color: var(--Yellow100);
  }
  .writeups4{
    font-size: 40px;
    margin-left: 20px;
    padding-inline: 15px;
    line-height: 0.9;
    font-weight: 500;
    word-spacing: -5px;
  }
  #image4{
    margin-top: -10px;
    margin-left: 35px;
    width: 260px;
  }
  .fifthcontainer{
    width:380px;
    height: 400px;
    border-radius: 15px;
    background-color: var(--Purple500);
  }
  .writeups5{
    font-size: 55px;
    padding-inline: 30px;
    line-height: 1;
    font-weight: 500;
    word-spacing: -5px;
    color: white;
    text-align: center;
  }
  #image5{
    margin-top: -50px;
    margin-left: 55px;
    width: 300px;
    
  }
  .smallparagraph{
    text-align: center;
    color: var(--White);
    font-size: 25px;
    font-weight: 200;
    margin-top: 0.5px;
  }
  
  .sixthcontainer{
    width: 380px;
    height: 550px;
    border-radius: 15px;
    background-color: var(--Purple500);
  }
  .writeups6{
    font-size: 50px;
    margin-top: 50px;
    line-height: 0.9;
    font-weight: 450;
    word-spacing: -4px;
    color: white;
    text-align: center;
  }
  #image6{
    margin-top: 30px;
    margin-left: 50px;
    width: 300px;
    }

  .seventhcontainer{
    width: 380px;
    height: 190px;
    border-radius: 15px;
    background-color: var(--White);
  }
  .writeups7{
    font-size: 30px;
    line-height: 0.9;
    font-weight: 450;
    margin-left: 20px;
    margin-top: -1px;
    word-spacing: -4px;
    
  }
  #image7{
    margin-top: 30px;
    margin-left: 10px;
    width: 350px;
    }
  .eightcontainer{
    width: 380px;
    height: 550px;
    border-radius: 15px;
    background-color: var(--Purple100);
  }
  .writeups8{
    font-size: 30px;
    line-height: 0.9;
    font-weight: 450;
    margin-left: 20px;
    margin-bottom: -1px;
    word-spacing: -4px;
    
  }
  #image8{
    margin-top: 30px;
    margin-left: 15px;
    width: 350px;
    }
}